[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
slackclient = "*"
#supervisor = "*"
requests = ">=2.20.0"
subprocess = "*"

[dev-packages]
pytest = "*"
#pylint = "*"
#autopep8 = "*"

[requires]
python_version = "3.4"
